<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need)</span></div>

In [1]:
# commands for loops - while and for -> commands python to run the sequence of command again and again

# The for iterator

In [2]:
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

In [3]:
#without using loops i.e inefficient way 

name=real_names[0]
print(f"{name} is a Marvel superhero!")

name=real_names[1]
print(f"{name} is a Marvel superhero!")

name=real_names[2]
print(f"{name} is a Marvel superhero!")

Natasha Romanoff is a Marvel superhero!
Tony Stark is a Marvel superhero!
Stephen Strange is a Marvel superhero!

## for with a list

In [14]:
## how for loop works
# 1. goes throug the list and assigns the viariable the value of the first element in the list 
# 2. runs the block of code (indicated by the : and indentation) using the first element in the list 
# 3. moves on to the next element in the list, making it the new value of the variable 
# 4. repeats again and again until it reaches the end of the list

In [4]:
for name in real_names: 
    print(f"{name} is a Marvel superhero!")

Natasha Romanoff is a Marvel superhero!
Tony Stark is a Marvel superhero!
Stephen Strange is a Marvel superhero!

In [47]:
for name in real_names: 
    print(f"{name.upper()} is a Marvel superhero!")

NATASHA ROMANOFF is a Marvel superhero!
TONY STARK is a Marvel superhero!
STEPHEN STRANGE is a Marvel superhero!

In [6]:
list_cuisines = ["Japanese", "Mediterranean", "Indian", "Italian", "Western", "Chinese"]
for cuisine in list_cuisines: 
    print(f"I love {cuisine} food! YUMM")

I love Japanese food! YUMM
I love Mediterranean food! YUMM
I love Indian food! YUMM
I love Italian food! YUMM
I love Western food! YUMM
I love Chinese food! YUMM

In [12]:
dishes = ["sushi", "hummus", "butter chicken", "pizza", "steak", "knife cut noodles"]

for cuisine, best_dish in zip(list_cuisines, dishes):     
    print(f"My favourite dish of {cuisine} cuisine is {best_dish}")

# wrong: for cuisines in list_cuisines and best_dish in dishes: 
# must use zip function!

My favourite dish of Japanese cuisine is sushi
My favourite dish of Mediterranean cuisine is hummus
My favourite dish of Indian cuisine is butter chicken
My favourite dish of Italian cuisine is pizza
My favourite dish of Western cuisine is steak
My favourite dish of Chinese cuisine is knife cut noodles

In [13]:
hobbies = ["astronomy", "baking", "running", "playing the violin", "photography"]
ages = ["6", "17", "17", "9", "18"]

for age, hobby in zip(ages, hobbies): 
    print(f"When i was {age} years old, I first gained interested in {hobby}")

When i was 6 years old, I first gained interested in astronomy
When i was 17 years old, I first gained interested in baking
When i was 17 years old, I first gained interested in running
When i was 9 years old, I first gained interested in playing the violin
When i was 18 years old, I first gained interested in photography

## for with enumerate

In [15]:
super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names =["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

# use enumerate when there are info from 2 list we are trying to retrieve at the same time #clarify

In [18]:
#enumerate() keeps count and gives both elements and number stored in count

for count, name in enumerate(real_names):  
    print(f'{count}: {name} is a Marvel superhero!')

0: Natasha Romanoff is a Marvel superhero!
1: Tony Stark is a Marvel superhero!
2: Stephen Strange is a Marvel superhero!

In [20]:
# using the count from enumerate() to index the other list

for index, name in enumerate(real_names):     
    superhero_name = super_names[index]
    print(f"{name} is {superhero_name}")

Natasha Romanoff is Black Widow
Tony Stark is Iron Man
Stephen Strange is Doctor Strange

In [21]:
%%timeit 
#more efficient way with enumerate, involving one list super_names = ["Black Widow", "Iron Man", "Doctor Strange"] 

count = 0 
for real_name in real_names: 
   
    count = count + 1

62.8 ns ± 0.276 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [22]:
%%timeit
#less efficient way 
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

for count, name in enumerate(real_names):
   x = 1

113 ns ± 4.05 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [49]:
count = 0 
for real_name in real_names: 
    print(f"{real_name} is a Marvel superhero!")
    count = count + 1

Natasha Romanoff is a Marvel superhero!
Tony Stark is a Marvel superhero!
Stephen Strange is a Marvel superhero!

In [51]:

real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

for count, name in enumerate(real_names):
   print(f"{name} is a Marvel superhero!")

Natasha Romanoff is a Marvel superhero!
Tony Stark is a Marvel superhero!
Stephen Strange is a Marvel superhero!

In [23]:
super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]
which_universe = ["Marvel", "Marvel", "Marvel"]

In [26]:
for index, name in enumerate(real_names):
    superhero_name = super_names[index]
    universe = which_universe[index]
    print(f'{name} is {superhero_name}!')
    print(f'{name} is from {universe}')

Natasha Romanoff is Black Widow!
Natasha Romanoff is from Marvel
Tony Stark is Iron Man!
Tony Stark is from Marvel
Stephen Strange is Doctor Strange!
Stephen Strange is from Marvel

In [28]:
tea = ["green tea", "black tea", "rooibos tea", "jasmine tea"]
coffee = ["expresso", "latte", "white", "black"]

for index, the_tea in enumerate(tea):
    print(f"{index}: I love {the_tea}")

0: I love green tea
1: I love black tea
2: I love rooibos tea
3: I love jasmine tea

In [37]:
for index, the_tea in enumerate(tea):
    preference = index + 1
    print(f"{the_tea} is my {preference} favourite type of tea!")

green tea is my 1 favourite type of tea!
black tea is my 2 favourite type of tea!
rooibos tea is my 3 favourite type of tea!
jasmine tea is my 4 favourite type of tea!

## for with range

In [38]:
range(5)

range(0, 5)

In [39]:
list(range(5))

[0, 1, 2, 3, 4]

In [40]:
for i in range(5):
    print(i)               #note the difference in how the data is presented when for and print is used versus list

0
1
2
3
4

In [35]:
list(range(2,5,2))

[2, 4]

In [41]:
for i in range(5, 10):      # range() alwaysends one short of the ending number 
    print (i)

5
6
7
8
9

In [42]:
for i in range(1, 10, 3):
    print(i)

1
4
7

In [44]:
for i in range(len(real_names)):   # len(real_names) gives the 3, range(3) gives 0,1,2. 
    super_name = super_names[i]    # using 0, 1 and 2 as indexes we can print out the names in order 
    real_name = real_names[i]
    print(f"{real_name} is Marvel's {super_name}!")

Natasha Romanoff is Marvel's Black Widow!
Tony Stark is Marvel's Iron Man!
Stephen Strange is Marvel's Doctor Strange!

In [54]:
# when there is only one list, no need to use range(len()) function 

countries = ["finland", "japan", "canada", "switzerland", "australia"]

for i in range(len(countries)):               # using the range(len()) function but this is unecessarily long 
    print(f"I want to go to {countries[i]} someday!")

for country in countries: 
    print(f"I want to go to {country} someday!")  # we can simply just use for _ in _ without range(len()) function if there is only 1 list

I want to go to finland someday!
I want to go to japan someday!
I want to go to canada someday!
I want to go to switzerland someday!
I want to go to australia someday!
I want to go to finland someday!
I want to go to japan someday!
I want to go to canada someday!
I want to go to switzerland someday!
I want to go to australia someday!

In [56]:
# more appropriate to use range(len()) function since there are two lists 

countries = ["finland", "japan", "canada", "switzerland", "australia"]
seasons = ["christmas", "spring", "autumn", "christmas", "summer"]

for i in range(len(countries)):   # len(countries) = 5. range(5) = 0,1,2,3,4. 
    country = countries[i]        # using 0,1,2,3,4 as indexes, we will get each country corresponding to their season 
    season = seasons[i]
    print(f"I want to go to {country} someday in {season}!")

I want to go to finland someday in christmas!
I want to go to japan someday in spring!
I want to go to canada someday in autumn!
I want to go to switzerland someday in christmas!
I want to go to australia someday in summer!

# while

In [1]:
# benefit: we do not need to know beforehand how many iterations of the loop is required

In [2]:
number = 0

while number < 5:     # while loop keeps running while a condition is true and stops when the condition is false 
    print(number)
    number += 1

0
1
2
3
4

In [ ]:
number = 0
square = number**2

while square <50:
    print (number, square)
    number += 1

In [ ]:
number_before = 367
number_after = number_before - 65

while number_before > 123:
    print(number_before, number_after)