<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# There is more to if

In [ ]:
# we can use elif and else if we need more branches in an if statement

In [2]:
name = 'Batman'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Batman!

In [3]:
temperature = 25 

if temperature <10:
    print('weather is coldd!!')
elif 10 < temperature < 22:
    print('weather is cool and nicee.. ahh')
else: 
    print('hot hot!!')

hot hot!!

In [4]:
name = 'Marvin'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
elif name == 'Marvin':
    print('Hello Marvin!')
else:
    print('Hello World!')

Hello Marvin!

# Asking questions

In [6]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

'apple' in fruits

True

In [6]:
'peach' in fruits

False

In [7]:
'apple' in vegetables

False

In [9]:
('celery' in vegetables) and ('jackfruit' in fruits) # and means both requirements must be fulfilled for the statement to be true

True

In [11]:
('banana' in fruits) and ('spinach' in vegetables)

False

In [12]:
('banana' in fruits) or ('spinach' in vegetables) # of needs only one of the requirements to be fulfilled to be true

True

In [9]:
'app' in 'apple'

True

In [10]:
'lery' in 'celery'

True

In [13]:
3 > 'apple' # python can only compare things of the same type. e.g number and number or english and english

TypeError: '>' not supported between instances of 'int' and 'str'

In [1]:
'orange' > 'apple'  # english letters are internally represented as numbers

True

In [2]:
'apple' > 'orange'

False

In [14]:
6 > 7

False

## 1 Asking Math questions

In [4]:
x = 5
x == 5

True

In [5]:
x = 10
x > 12

False

| Question/Condition | Python symbols |
|:-------------------|---------------:|
| Equals?    | == |
| Not equal? |!= |
| Less than? | <  |
| Greater than? | > |
| Less than or equal? | <= |
| Greater than or equal? | >= |

# Python stores information in different formats or types

In [18]:
# the bottom codes are examples of typecasting where we cast a to the different types 

x = int(1.234)      # int() converts into integer and drops any decimal points
print(x, type(x))

1 <class 'int'>

In [15]:
y = int(1.53)     # int () always rounds down 
print(y, type(y))

1 <class 'int'>

In [17]:
z = str(1.234)     # numbers may also be strings 
print(z, type(z))

1.234 <class 'str'>

In [18]:
a = float(1.234) 
print(a, type(a))

1.234 <class 'float'>

In [16]:
a = float(1)    # float() will add decimal places to numbers if they don't already exist. will by default add 1 dp
print(a, type(a))

1.0 <class 'float'>

In [17]:
b = complex(1.234)  # complex() will include the imaginary part of the number 
print(b, type(b))

(1.234+0j) <class 'complex'>

# Never compare floats directly

## The Problem

In [21]:
a = 0.1 
a3 = 0.3 
a * 3 == a3    #this should actually give us true in real life but is false by python because our computer has limited precision
               # roundoff error

False

In [19]:
f'{0.3:.17f}' # question - why isn't it that the output isnt just 0.30000000000000000?

'0.29999999999999999'

## A solution

In [22]:
# check for promixity of variable to the expected value, rather than equality 

(a*3 - a3) #should by right give 0 but instead it gives a very very small difference

5.551115123125783e-17

In [23]:
# solution: check if the variable is close to the expected values instead of checking for equality.

# method 1: we define our own threshold for what is considered close enough e.g 1E-10 
eps = 1E-10
abs(a * 3 - a3) < eps

True

In [16]:
#or method 2: use an already defined function isclose() 

import numpy
numpy.isclose(a * 3, a3) #use numpy function

True

In [22]:
import numpy 
numpy. isclose(3.0, 3.01)

False

In [23]:
numpy. isclose(3.0, 3.0001)

False

In [30]:
numpy. isclose(3.0, 3.00001)  # numpy will consider a difference of about 1.0 x10^(-4) and more to be significant
                              # if the difference is 1.0 x 10^(-5) or less, they will be considered equal

True

# Combining English and variables

In [1]:
# use f strings/string interpolation to integrate english and variables 

name = 'Batman' 
print(f'Hello {name.upper()}!') #combining variables and english

Hello BATMAN!

In [3]:
print('Hello {name}!') #f and {..} comes together!

Hello {name}!

In [26]:
number = 7 

print(f'I like number {number*7}!')

I like number 49!

In [28]:
num = 60 

print(f'{num} is the product of 6 multiplied by 10')

60 is the product of 6 multiplied by 10

In [ ]:
## adjusting the arrangement of string on screen
# info on the alignment and the characters should be within the {}, after a colon

In [30]:
text = "rachel is old" 
print(f'{text:^30}')      # A block of 30 characters;
                          # aligned centre

        rachel is old

In [35]:
print(f'{text:<60}')      # A block of 60 characters; 
                          # aligned to the left i.e the default

rachel is old

In [34]:
print(f'{text:^60}')      # A block of 60 characters;
                          # aligned centre

                       rachel is old

In [37]:
print (f'{text:>60}')     # A block of 60 characters 
                          # aligned to the right

                                               rachel is old

## 6.1 Structure of f-strings

In [39]:
## general formula {X:>0Y.ZW} to arrange a printed text on a page 
# X : variable 
# >/^/< : alignment 
# '0' or other characters to fill space 
# Y : total number of characters 
# Z : no. of d.p (for float)
# W : type of variable (i.e f (float), d (decimal), s (string) or g (python to figure out)

In [48]:
text_1 = 'fluffy clouds'
text_2 = 'fluffy sheeps' 

print(f'{text_1:>50} look like {text_2}')    #default spacing is '0' unless specified

                                     fluffy clouds look like fluffy sheeps

In [52]:
# question - why doesn't the code work if i specify that the variable is a string? 
# i understand that it might not be necessary but why doesn't it work if i specify? 

text_1 = 'fluffy clouds'
text_2 = 'fluffy sheeps'

print(f'{text_1:>50.s} look like {text_2}')

ValueError: Format specifier missing precision

In [53]:
# note that if we want the two variables to be placed together in a sentence, no need to repeat the alignment spacing for both!
# e.g no need: 

text_1 = 'fluffy clouds'
text_2 = 'fluffy sheeps'

print(f'{text_1:>50} look like {text_2:>50}')

                                     fluffy clouds look like                                      fluffy sheeps

In [68]:
# note that 'f' and 'd' only apply to float numbers, NOT string (i.e text_4 = '10') or integers
# the alignment specification applies only to the variable in the {}. if there are 2 or more variables, their positions are not 'synced' 
text_3 = 'surfing in bali' 
text_4 = float(10) 

print(f'{text_3} when i was {text_4:^10.1f} was like a fever dream.. i want to replay that dream again :)')

surfing in bali when i was    10.0    was like a fever dream.. i want to replay that dream again :)

In [75]:
print(f'{text:^3}') #if the number of characters we add (i.e Y) is smaller than the no. of characters in our var,
                    #then the printed text will have no space in front

rachel is old

In [74]:
# question - '_10' looks very strange. However, I don't quite understand why it is wrong. Would you please clarify why? 

text_3 = 'surfing in bali' 
text_4 = float(10) 

print(f'{text_3:^_10} when i was {text_4:^10.1f} was like a fever dream.. i want to replay that dream again :)')

ValueError: Invalid format specifier '^_10' for object of type 'str'

# Escape sequences

In [22]:
# \n means that we go to the next line
# \t means that we enter a tab, breaks the line 

# if we want to print '\x' without having an error message, need to enter '\\x'

In [11]:
#problem if we dont use slash -> there are two close apostrophe hence error 

print('You're twenty years old.')

SyntaxError: unterminated string literal (detected at line 3) (1208085567.py, line 3)

In [76]:
#solution 1: use a slash 

print('You\'re twenty years old.')

You're twenty years old.

In [77]:
#solution 2: use qoutation marks instead of apostrophe 

print("You're twenty years old.")

You're twenty years old.

summary of escape sequences (backslash escape sequence is wrong) 

| escape sequence | meaning |
|:----------------|--------:|
| \\' | single quote |
| \\\ | backslash | 
| \n | newline |
| \t | horizontal tab |

In [81]:
# question (with ref. to the table table) - why is it that typing either '\\' or '\\\' in a markdown cell gives '\'?
# what should i type for '\\' to appear in a markdown cell? why is it that \\' must be typed for \' to appear in markdown?

# Computers read = from Right to Left!

In [87]:
# the following code works on python although it mathematically in correct 

x = 40 
x += 3  # i.e x = x + 3. note that we use '+=' and not '=+' 
print (x)

43

In [90]:
#python also reads the following: 

x = y = 47    
print(x) 
print(y)

47
47

In [97]:
# question: is it problematic if we equate x = y? since they will have the same id. 
# shouldnt we make a copy of them instead? e.g y = x.copy()? or is that only impt for lists? 
# it should apply to both lists and in thie case since we won't want value of y to change if we change x right? 

id(x) == id (y)   # the problem - the 2 variables will not only have the same value but literally be the same variable

True

In [106]:
# however, why isnt it then possible to make a copy of an integer? why does copy() only work for a list? 
# if we want to create 2 variables g and h that both have the same value. and we use g = h, wouldn't any changes we make to g e.g g+= 2, also then change alue of h to h + 2? 
a = 5 
b = a.copy()

AttributeError: 'int' object has no attribute 'copy'

# Shorter and Cleaner Code

In [108]:
# question - why isnt the following text printing a table in markdown? Would you mind correcting any wrong formatting? I'll make the edits later!

summary of shorthand codes:

|----------------| Long form | Shorthand | 
|: --------------|:---------:|----------:| 
| Addition       | y = y + 5 | y += 5    |
| Subtraction    | y = y - 5 | y -= 5    |
| Multiplication | y = y*5   | y*= 5     | 
| Division       | y = y/5   | y/= 5     |

In [110]:
a = 2
a *= 5
print(a)

10

In [113]:
b = 56 
b /= 8    #by default, division gives a floating point number with 1 d.p 

print(b)

7.0

# Python can be a prima-donna.

In [114]:
#for error messages, scroll to the end to identify the bug

# Best Practices for Scientific Computing

1. write programs for people, not computers! add meaningful comments when necessary to aid myself/others in understanding my thought process 
2. dont be a perfectionist! having a complete code that fulfils the task is better than having 4 beautiful lines of code that do not fufi the requirement 
3. be intentional with the comments, explain why i chose to pick one method over the other, the purpose of the code
4. work together :)

# Looking for help

In [116]:
# method 1 (more accessible) : google or chatgpt 
# methd 2 : help ()