<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

Exercise 1 (Celcius to Farenheit)

In [3]:
temperatures_celsius = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

for i in range(len(temperatures_celsius)):     # since we need to print both temperatures, we will need to use range(len()) function 
    temperature_celsius = temperatures_celsius[i]    # use the numbers from the range as indexes 
    temperature_farenheit = (temperature_celsius * (9/5)) + 32   
    print(f"temperature in degree celsius is {temperature_celsius} while temperature in degree farenheit is {temperature_farenheit}")

temperature in degree celsius is 0 while temperature in degree farenheit is 32.0
temperature in degree celsius is 5 while temperature in degree farenheit is 41.0
temperature in degree celsius is 10 while temperature in degree farenheit is 50.0
temperature in degree celsius is 15 while temperature in degree farenheit is 59.0
temperature in degree celsius is 20 while temperature in degree farenheit is 68.0
temperature in degree celsius is 25 while temperature in degree farenheit is 77.0
temperature in degree celsius is 30 while temperature in degree farenheit is 86.0
temperature in degree celsius is 35 while temperature in degree farenheit is 95.0
temperature in degree celsius is 40 while temperature in degree farenheit is 104.0
temperature in degree celsius is 45 while temperature in degree farenheit is 113.0
temperature in degree celsius is 50 while temperature in degree farenheit is 122.0

Exercise 2 (Multiplication table)

In [7]:
# example given 
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:    # for each of the 3 alphabets, this loop will run thrice. therefore, this loop will run 9 times in total 
        print(f'{letter}{number}', end='\t')   #\t gives the spacing between elements on each row 
    print('\n')    # \n gives the next line for the next alphabet

A1	A2	A3

B1	B2	B3

C1	C2	C3

In [13]:
# exploring 
for sushi in ["nigiri", "maki", "gunkan", "temaki"]: 
    for ingredient in ["tuna", "salmon", "shrimp", "unagi"]:
        print(f"{ingredient} {sushi} is so good!", end = "\t")   #recall to use 'end =' to introduce __ at the end of a line
    print("\n")   # reminder put qoutation marks round \t and \n

tuna nigiri is so good!	salmon nigiri is so good!	shrimp nigiri is so good!	unagi nigiri is so good!

tuna maki is so good!	salmon maki is so good!	shrimp maki is so good!	unagi maki is so good!

tuna gunkan is so good!	salmon gunkan is so good!	shrimp gunkan is so good!	unagi gunkan is so good!

tuna temaki is so good!	salmon temaki is so good!	shrimp temaki is so good!	unagi temaki is so good!

In [21]:
## completing task 
# interation 1: 

numbers_1 = [1,2,3,4,5]   # numbers_1 is the vertical first column of numbers 
numbers_2 = [1,2,3,4,5]   # numbers_2 is the horizontal first row of numbers 

for i in range(len(numbers_1)): 
    number_1 = numbers_1[i]
    for number_2 in numbers_2:
        product = (number_1)*(number_2)
        print(f"{number_1} : {product}")
        print("\t")
    print("\n")

1 : 1

1 : 2

1 : 3

1 : 4

1 : 5



2 : 2

2 : 4

2 : 6

2 : 8

2 : 10



3 : 3

3 : 6

3 : 9

3 : 12

3 : 15



4 : 4

4 : 8

4 : 12

4 : 16

4 : 20



5 : 5

5 : 10

5 : 15

5 : 20

5 : 25

In [40]:
# interation 2: changing to print "{number1} : " once per row 
numbers_1 = [1,2,3,4,5]   # numbers_1 is the vertical first column of numbers 
numbers_2 = [1,2,3,4,5]   # numbers_2 is the horizontal first row of numbers 

for number_1 in numbers_1:
    print(f"{number_1} : ")
    for number_2 in numbers_2:
        product = (number_1)*(number_2)
        print(f"{product}")
        print("\t")
    print("\n")

1 :
1

2

3

4

5



2 :
2

4

6

8

10



3 :
3

6

9

12

15



4 :
4

8

12

16

20



5 :
5

10

15

20

25

In [41]:
# interation 3: changing the printing of the tab so bring the products of every number_1 onto the same row 
numbers_1 = [1,2,3,4,5]   # numbers_1 is the vertical first column of numbers 
numbers_2 = [1,2,3,4,5]   # numbers_2 is the horizontal first row of numbers 

for number_1 in numbers_1: 
    print(f"{number_1} : ")
    for number_2 in numbers_2:
        product = (number_1)*(number_2)
        print(f"{product}", end = "\t")
    print("\n")

1 :
1	2	3	4	5

2 :
2	4	6	8	10

3 :
3	6	9	12	15

4 :
4	8	12	16	20

5 :
5	10	15	20	25

In [42]:
# interation 4: added "end="" " to print the products of the multiplcation onto the same row as numbers_1 
numbers_1 = [1,2,3,4,5]   # numbers_1 is the vertical first column of numbers 
numbers_2 = [1,2,3,4,5]   # numbers_2 is the horizontal first row of numbers 

for number_1 in numbers_1: 
    print(f"{number_1} :   ", end = "  ")    
    for number_2 in numbers_2:
        product = (number_1)*(number_2)
        print(f"{product}", end = "\t")
    print("\n")

# NEW: adding end = " " at the end of a print command ensures that the next line printed appears on the same row
    # rather than being automatically printed on the next row

1 :     1	2	3	4	5

2 :     2	4	6	8	10

3 :     3	6	9	12	15

4 :     4	8	12	16	20

5 :     5	10	15	20	25